<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About the Project</title>
	<link rel="icon" href="../static/img/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/business-casual.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Data Incubator Project</span>
      <span class="site-heading-lower"><strong>#Completion</strong></span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/about">About</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/data">Data</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid about-heading-img mb-3 mb-lg-0 rounded" src="../static/img/sources.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
<!--                  <span class="section-heading-upper">Data sources</span>-->
                  <span class="section-heading-lower">Data Sources</span>
                </h2>
                <p class="text-justify">a. College Scorecard (dataset published by the USA Department of Education). <br>
                  This dataset contains over 1800 features about academic, admissions, completion, student body, etc., for over 7500 college institutions in the United States. Furthermore, the dataset provides information about each academic year, starting in 1996-1997 and ending in 2015-2016.</p>
                <p class="text-justify">b. Twitter API. <br />
				I intend to collect a dataset containing tweets with location and geographycal information such that I can calculate the amount of social network usage per capita segmented by location (statewide) and time (year wide). </p>
              </div>
				
            </div>
          </div>
        </div>
      </div>
    </section>
	  
	  <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid about-heading-img mb-3 mb-lg-0 rounded" src="../static/img/deliverables.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
<!--                  <span class="section-heading-upper">Data sources</span>-->
                  <span class="section-heading-lower">Project Objectives</span>
                </h2>
                <p>&#x2611 Download and clean up the College Scorecards dataset</p>
				<p>&#x2611 Perform exploratory data analysis in the College Scorecards dataset</p>
				<p>&#x2611 Develop a webpage to publish the project</p>
				<p>&#x2611 Upload the webpage to the internet using Heroku</p>
				<p>&#x2610 Implement a machine learning alogirthm to predict college graduation rate using the College Scorecards features. </p>
                <p>&#x2610 Use Twitter API to gather a dataset containing tweets with geographycal and temporal tags. </p>
				<p>&#x2610 Permorm an statistical test to investigate the correlation between Twitter usege and college completion rate. </p>
				<p>&#x2610 Future: Examine correlation with other datasets (Videogames, Crime, Weather, etc.). </p>
              </div>
				
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Hector Sosa Martinez 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
