<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to HSM Project</title>
	<link rel="icon" href="../static/img/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/business-casual.css" rel="stylesheet">

  </head>

  <body>
  		<h1 class="site-heading text-center text-white d-none d-lg-block"> 
	  		<span class="site-heading-upper text-primary mb-3">Data Incubator Project</span> 
	  		<span class="site-heading-lower"><strong>#Completion</strong></span>
	  	</h1>
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/about">About</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/data">Data</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../static/img/intro.jpg" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
			  <span class="section-heading-upper">What is the objective of</span>
              <span class="section-heading-lower">#Completion?</span>
            </h2>
            <p class="mb-3">In this project, my goal is to evaluate the relationship between social networks usage and students academic performance. In particular, I would like to find out if there exist a positive or negative correlation between social networks usage and college completion rates for a given academic year and state in the United States.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="/about">Learn More Now!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">What is the project</span>
                <span class="section-heading-lower">Motivation?</span>
              </h2>
              <p class="mb-0">Over the past decade, daily use of social networks has become a common part of our lifestyle. Just in the United States and Canada the number of Facebook users has increased from 130 to 240 million from 2010 to 2017. Twitter shows a similar trend, going from 10 to 70 million in the same period. This quick rise in popularity, can partially be explained by the heavy usage of social network sites among college students.<br />
			  This unprecedented scenario has triggered global efforts to investigate the consequences of social networking sites. Among these questions is the one regarding the effects of Facebook and Twitter on academic performance.
			  </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Hector Sosa Martinez 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
